body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.boodDeliveryMainDiv {
  /* background-image: url("../public/images/book-delivery-bg.jpg") !important; */
  /* background-image: url("./_images/book-delivery-bg.jpg"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 474px !important;
}

.card{
  margin: 2% 0px 0px 0%;
  width: 100% !important;
  background-color: #f5f5f5 !important;
  padding: 2% 2% 2% 4%;
  max-width: 500px !important;
}

.largeCard{
  margin: 2% 2% 2% 2%;
  width: 100% !important;
  background-color: #f5f5f5 !important;
  padding: 2% 2% 2% 4%;
  max-width: 96% !important;
}
.card input{
  padding: 19px 0px 7px;
}
.button-lg{
  width: 100%;
  color: #000 !important;
  background-color: #cddc39 !important;
  height: 45px;
}

.button-sm{
  width: 30%;
  color: #000 !important;
  background-color: #cddc39 !important;
  height: 45px;
}

.fields{
  width: 90%;
}

.confirmFields{
  width: 30%;
}
.card .typography{
  text-align: center;
  font-weight: bolder;
}

.card .typography1{
  text-align: center;
  /* margin-left: 140px; */
}

.toolbar{
  background-color: #000 !important;
}

.historyCard{
  max-width: 100% !important;
  margin-top : 65px
}

.notificationPaper{
  width: 500px;
  text-align: center;
  margin: 5% auto;

}

.notificationButton{
  text-align: center;
}
.mainDIV{
  width: 100% !important;
  max-height: 550px !important;
  overflow-y: auto;
  margin-top: 5%;
}
/* .progress-bar{
  margin-top: 64px;
} */

.own-drawer{
  min-height: 625px !important;
}

.stepper-main-div{
  background-color: #f5f5f5 !important;
}

.stepper-main-div .MuiStepIcon-active-178{
  color: #cddc39 !important;
}

.stepper-main-div .MuiStepIcon-completed-179{
  color: #cddc39 !important;
}
.booking-forms-block{
  margin-top: 4px !important;
}

.sliderDiv {
  width: 60% !important;
  float: left;
  padding: 2% 2% 2% 2%;
}

.slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.sliderBackgroundDiv{
  background-size: 100% 100% !important;
}

.listItemReceipt{
  float: left;
  width: 33.2% !important;
  height: 100px !important;
}

.listItemReceipt p{
  padding-left: 6% !important;
}

.dialogLinks a{
  text-decoration: none;
  display: inline-block;
}